#slider{

   	margin:auto;
    padding: 116px 0px 0px 94px;
}

#slider .content{
    border:1px solid black;
	position:relative;
	width:800px;
	height:600px;
	margin: auto;
}
#slider .con-left{
    position: relative;
	border-right:1px solid black;
	width:580px;
	height:600px;
	float:left;

}
#slider .con-right{
	
	width:200px;
	height:600px;
    float:left;
}
#slider .con-right-top{
	position: relative;
	height:250px;
}

#slider .con-right-bottom{
	
    position: relative;
}
#slider table{
    height:100%;
    width:100%;
}
#slider table td{
    vertical-align: middle;
    text-align: center; 
}

#slider .part3-option{
	height:30px;
}
#slider .toNextButton{
    position: absolute;
    display: block;
    right:0;
    bottom:0;
}
.fromRight{
    -webkit-transform-style: preserve-3d;
    -webkit-animation-name: anim-fromRight;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear; 
}
@-webkit-keyframes anim-fromRight
{
    0%{
    -webkit-transform: translate(500px, 0px); 

} 
100%{
    -webkit-transform: translate(0px, 0px); 
}
}
/*from left*/
.fromLeft{
    -webkit-transform-style: preserve-3d;
    -webkit-animation-name: anim-fromLeft;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear; 
}
@-webkit-keyframes anim-fromLeft
{
    0%{
    -webkit-transform: translate(-500px, 0px); 

} 
100%{
    -webkit-transform: translate(0px, 0px); 
}
}
/*from top*/
.fromTop{
    -webkit-transform-style: preserve-3d;
    -webkit-animation-name: anim-fromTop;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear; 
}
@-webkit-keyframes anim-fromTop
{
    0%{
    -webkit-transform: translate(0px, 500px); 

} 
100%{
    -webkit-transform: translate(0px, 0px); 
}
}

/*from bottom*/
.fromBottom{
    -webkit-transform-style: preserve-3d;
    -webkit-animation-name: anim-fromBottom;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear; 
}
@-webkit-keyframes anim-fromBottom
{
    0%{
    -webkit-transform: translate(0px, -500px); 

} 
100%{
    -webkit-transform: translate(0px, 0px); 
}
}